language: ruby
cache:
- bundler
install:
- bundle install
rvm:
- 2.0
- 2.1
- 2.2
- 2.3.0
notifications:
  email:
    recipients:
    - sensu-plugin@sensu-plugins.io
    on_success: change
    on_failure: always
script:
- bundle exec rake default
- gem build sensu-plugins-ponymailer.gemspec
- gem install sensu-plugins-ponymailer-*.gem
deploy:
  provider: rubygems
  api_key:
    secure: Uaf0z4HfeYWC/Ld4IErUv0Ah8YrVKNO7xF3jsJ76thV48sSWkxzE6SP76FCc8zODLRh/J9QA0QpeGZkkywqMbjfouZDUw2sAtDV79Si5DxhWKxz5MR+67xwLXDX6o+K80RIHPCUNfaMC14Tf5WpyTZQUmr0o1K3Ne3Bb07wIkiQ=
  gem: sensu-plugins-ponymailer
  on:
    tags: true
    all_branches: true
    rvm: 2.0
    rvm: 2.1
    rvm: 2.2
    rvm: 2.3.0
    repo: sensu-plugins/sensu-plugins-ponymailer
